<%= react_component('App') %>


<%
=begin%>
 <h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <% if can? :update, @project %>
      <p>
        <%= link_to "Show this project", project %>
      </p>
    <% end %>
  <% end %>
</div>

<% if can? :create, @project %>
  <%= link_to "New project", new_project_path %>
<% end %> 
<%
=end%>
